{% extends '/admin/body.html.twig' %}
{% block content %}
    <div id="lieux" class="tab-pane section-admin">
        <section id="lieux">
            <div class="text-center">
                <h3>Où nous trouver</h3>
            </div>
            <div class="panel panel-theme">
                <div class="panel-heading">Où nous trouver</div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        {% for place in places %}
                            <li><a data-toggle="tab" href="#tab-{{ place.day }}">{{ place.day }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for place in places %}
                            <div id="tab-{{ place.day }}"
                                 class="tab-pane fade {% if loop.first %} in active {% endif %}">
                                <div class="row day">
                                    <div class="col-xs-12">
                                        <h3>
                                            {{ place.day }}
                                        </h3>
                                    </div>
                                </div>

                                <form action="/admin/place/edit" method="POST">
                                    <input type="hidden" name="id" value="{{ place.id }}"/>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="hour">12h-14h :</span>
                                            <div class="form-group">
                                                <label for="{{ place.day }}-adress-12">Adresse</label>
                                                <input class="form-control" type="text" id="{{ place.day }}-12-adress"
                                                       name="adress-12" value="{{ place.adress_day }}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ place.day }}-coord-12">Coordonnées</label>
                                                <input class="form-control" type="text" id="{{ place.day }}-12-coord"
                                                       name="coord-12" value="{{ place.coord_day }}"
                                                       pattern="-?[0-9]+.[0-9]+,\s?-?[0-9]+.[0-9]+"
                                                       placeholder="1.23456789, 1.23456789"
                                                       title="Veuillez entrer des coordonées valides"/>
                                                <button class="form-control coordinates-generator"
                                                        id="{{ place.day }}-12-button" type="button">Calculer les
                                                    coordonées
                                                </button>
                                                <span id="{{ place.day }}-12-message" class="message"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="hour">19h-21h :</span>
                                            <div class="form-group">
                                                <label for="{{ place.day }}-adress-19">Adresse</label>
                                                <input class="form-control" type="text" id="{{ place.day }}-19-adress"
                                                       name="adress-19" value="{{ place.adress_evening }}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ place.day }}-coord-19">Coordonnées</label>
                                                <input class="form-control" type="text" id="{{ place.day }}-19-coord"
                                                       name="coord-19" value="{{ place.coord_evening }}"
                                                       pattern="-?[0-9]+.[0-9]+,\s?-?[0-9]+.[0-9]+"
                                                       placeholder="1.23456789, 1.23456789"
                                                       title="Veuillez entrer des coordonées valides"/>
                                                <button class="form-control coordinates-generator"
                                                        id="{{ place.day }}-19-button" type="button">Calculer les
                                                    coordonées
                                                </button>
                                                <span id="{{ place.day }}-19-message" class="message"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <input type="submit" value="Valider" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="/assets/js/place.js"></script>
{% endblock %}