{% extends '/admin/body.html.twig' %}
{% block content %}
    <div class="container ">
        <section id="team">
            <h3 class="text-center">L'équipe</h3>
            <div class="row">
                {% for team in teams %}
                    <form action="/admin/team/edit" method="post" enctype="multipart/form-data">
                        <div class="personne form-group col-sm-4 col-md-5 {{ loop.index is not odd ? 'col-sm-4 col-sm-offset-4 col-md-5 col-md-offset-2' }}">
                            <div class="panel panel-theme">
                                <div class="panel-heading">Personne {{ team.id }}</div>
                                <div class="panel-body">
                                    <div class="thumbnail text-center col-md-4">
                                        <img src="{{ team.picture }}" alt="{{ team.pictureDescription }}">
                                    </div>
                                    <div class="col-md-6 ">
                                        <input class="small " type="file" name="picture"/>
                                        <input type="hidden" name="id" value="{{ team.id }}">
                                        <label class="small" for="name">Nom & Prénom :</label>
                                        <input type="text" name="name" class="form-control" value="{{ team.name }}"
                                               pattern=".{2,}"/>
                                    </div>
                                    <div class="col-md-6 ">
                                        <label class="small">Description de l'image:</label>
                                        <input name="pictureDescription" class="form-control"
                                               value="{{ team.pictureDescription }}">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="small " for="description">Description:</label>
                                        <textarea class="form-control" rows="5"
                                                  name="description">{{ team.description }}</textarea>
                                    </div>
                                    <div class="form-group text-center col-md-12 ">
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}