<section class="container gallery">
    <div class="row">
        <div>
            <h2>Galerie d'image</h2>
        </div>
        <div>
            {% for picture in pictures %}
                <div class="col-xs-6 col-md-4 container-img text-center">
                    <a href="#" class="thumbnail" data-toggle="modal" data-target="#galleryModal{{ loop.index }}">
                        <img class=".img-responsive" src="{{ picture.path }}" alt="{{ picture.alt }}">
                    </a>
                </div>
                <div class="modal" id="galleryModal{{ loop.index }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ picture.path }}" alt="{{ picture.alt }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="button-container text-center">
            <a class="btn" href="/gallery" role="button">Voir plus d'images</a>
        </div>
    </div>
</section>
