<section class="team container-fluid" id="team">
    <div class="container">
        <h2 class="visible-xs">Notre équipe</h2>
        <div class="row">
            <div class="col-sm-4 perso">
                <div class="row">
                    <img class="img-responsive img-circle" src="{{ team[0].picture }}" alt="{{ team[0].name }}">
                </div>
                <div class="row">
                    <h4>{{ team[0].name }}</h4>
                </div>
                <div class="row">
                    <p>{{ team[0].description }}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <h2 class="hidden-xs">Notre équipe</h2>
            </div>
            <div class="col-sm-4 perso">
                <div class="row">
                    <img class="img-responsive img-circle" src="{{ team[1].picture }}" alt="{{ team[1].name }}">
                </div>
                <div class="row">
                    <h4>{{ team[1].name }}</h4>
                </div>
                <div class="row">
                    <p>{{ team[1].description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>